.headerSection {
  background-color: var(--inputs);
  padding-top: 24px;
  padding-bottom: 24px;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
