.formContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-light);
  border-radius: 16px;
  padding: 44px;
  max-width: 641px;
  min-height: 382px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  margin-bottom: 24px;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

.input {
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 18px 337px 18px 18px;
  width: 100%;
  height: 60px;
  background: var(--inputs);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}

.sendBtn {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
}
