.heroSection {
  height: 100vh;
  padding-top: 284px;
  background-image: url("/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heroTitle {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 48px;
  line-height: 75%;
  color: var(--inputs);
}

.heroSubtitle {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--inputs);
}

.heroLink {
  display: block;
  font-weight: 500;
  width: 190px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
}
